{{{body}}}
<div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
        <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
            S25 - 18
        </div>
        
        <form action="/login" method="GET">
            <div class="text-end">
                <button type="submit" class="btn btn-light text-dark me-2">Login</button>
                
            </div>
        </form>
               

    </div>
</div>
<div class="px-3 py-2 border-bottom mb-3">
    <img id="image1" src="images/punisher_image.jpg" alt="image" height="500px" width="100%" />
</div>